<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-group">
    <form action="/" method="post">
        <label for="name">Enter your name (e.g.: bodan#29532):</label>
        <input type="text" class = "input-text" id="name" name="name" required>
        <br><button class = "button-36" type="submit">Submit</button>
    </form>
    </div>
</body>
</html>
